<template name="projects_list">

  {{>project_set}}
  <br/>
  <br/>

  {{> project_add}}

  <legend>List of Projects</legend>

  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Floors</th>
        <th>Remove</th>
        <!-- <th>Floors Edit</th> -->
      </tr>
      {{#each projects}}
      <tr>
        <!-- {{#if Meteor.userId() === createdBy}} -->
          <td>
          {{#autoForm id=makeUniqueID_Name type="update" collection="Projects" _id=this._id doc=this  autosave=true}}
          {{> afFormGroup name="name" label=false}}
        {{/autoForm}}</td>
                <td>
          {{#autoForm id=makeUniqueID_Desc type="update" collection="Projects" _id=this._id doc=this autosave=true}}
          {{> afFormGroup name="description" label=false}}
        {{/autoForm}}</td>
       <!--  {{else}}
          <td><span class="text">{{name}}</span></td>
          <td><span class="text">{{description}}</span></td>
        {{/if}} -->
        <td><span class="text">({{location.lat}},{{location.lng}})</span></td>
        <td>
          <ul>
            {{#each floors}}
              {{>floor}}
            {{/each}}
          </ul>
        </td>
        <td>{{> quickRemoveButton collection="Projects" _id=this._id beforeRemove=beforeRemove class="btn btn-danger"}}</td>
        <!-- <td>
          <ul>
            {{#each floors}}
              {{>floor_edit}}
            {{/each}}
          </ul>
        </td> -->
      </tr>
      {{/each}}
    </table>
  </div>

</template>

<template name='floor'>
  <li>{{this.name}}</li>
</template>

<template name="project_add">
  <legend>Add a new Project</legend>
    {{> quickForm collection="Projects" id="insertProjectForm" type="insert"}}
</template>