<template name="sign_add">
	
	{{#if isIdentified}}

	  {{>floor_set}}
	  <br/>
	  <br/>

	  	<legend>Add a Sign</legend>

	  	{{#if activeFloor}}

	  	<p>Map of active floor is {{activeIndoorMap.name}}</p>

		  	{{> quickForm collection="Signs" id="insertSignForm" type="insert"}}

			<!-- {{> show_sign_picture}} -->

			<!-- {{> select_indoor_location}} -->

	  	{{else}}

	  	<p>You need to set an Active Floor first.</p>

	  	{{/if}}

	{{else}}
		<p>Please log in.</p>
	{{/if}}

</template>

<template name="show_sign_picture">
<br/>
	{{#if isDevice}}

		{{> browse_library_pictures}}

	{{/if}}

  	{{> take_camera_picture}}

	{{#if sign_picture}}

      <img src="{{sign_picture}}" alt="">

    {{else}}

      <p>No sign picture yet.</p>

    {{/if}}

    <!-- communicate result selected by widget back to autoform -->
	<input type="hidden" class="js-value" value="{{sign_picture}}" data-schema-key="image">

</template>

<template name="take_camera_picture">

    <button>Take a Picture</button>

</template>

<template name="browse_library_pictures">

    <button>Browse Library</button>

</template>

<template name="select_indoor_location">
<br/>
	<div class="canvas-navigation">
		<button id="btnZoomIn">ZoomIn</button> 
		<button id="btnZoomOut">ZoomOut</button> 
		<button id="btnResetZoom">Reset Zoom</button>
	    <button id="btnShow">Toggle Show/Hide</button>
	</div>

	<div class="canvas-wrapper">
		<canvas id="floorDemoCanvas"></canvas>
	</div>

	<button id="download_canvas">Download Canvas Image</button>

</template>