<template name="signs_list">
  <legend>List of Signage Items</legend>

  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>Picture</th>
        <th>Room</th>
        <th>Floor</th>
        <th>Type</th>
        <th>Coordinates</th>
        <th>Details</th>
        <th>Uploaded by</th>
      </tr>
      {{#each signs}}
        {{> sign_info}}
      {{/each}}
    </table>
  </div>
</template>

<template name="sign_info">
  <tr class="{{type}}"> <!-- success warning danger info -->
     {{#if image}}
      <td><img style="width: 130px;height: 100px;" src="{{image}}" alt=""></td>
    {{else}}
      <td>No image provided.</td>
    {{/if}}
    <td><span class="text">{{room}}</span></td>
    <td><span class="text">{{floor}}</span></td>
    <td><span class="text">{{type}}</span></td>
    <td><span class="text">
      {{#if geoPoint.left}}
      [ {{geoPoint.left}}, {{geoPoint.top}} ]
      {{/if}}
    </span></td> 
    <td><span class="text">{{details}}</span></td>
    <td><span class="text">{{createdBy}}</span></td>
  </tr>
</template>