<template name="select_indoor_location">
<br/>
	<h4>{{currentProject}}'s' Indoor {{activeFloor}} Floor Map</h4>
	<div class="canvas-navigation">
		<button id="btnZoomIn">ZoomIn</button> 
		<button id="btnZoomOut">ZoomOut</button> 
		<button id="btnResetZoom">Reset Zoom</button>
	    <button id="download_canvas">Download Canvas Image</button>
	</div>

	<div class="canvas-wrapper">
		<canvas id="floorDemoCanvas"></canvas>
	</div>

	{{#if reportingMode}}
		<br/>
		<h5>Signs Families</h5>

		{{#each categoriesWithColor}}

			<div class="row">

				{{#each row}}

				  <div class="col-md-2">

				  		<input type="checkbox" name="{{category}}" checked> <span style="background: {{color}};">&nbsp;&nbsp;&nbsp;&nbsp;</span> {{category}}

				  </div>

			  {{/each}}

			</div>

		{{/each}}

		<br/>
		<h5>Key Sign Numbers</h5>

		{{#each signs}}

			<div class="row">

				{{#each row}}

				  <div class="col-md-3">

				  		<b>{{pinIndex}}</b> is {{type}}_{{floor}}_{{room}}
				  </div>

			  {{/each}}

			</div>

		{{/each}}

	{{/if}}

</template>