<template name="select_indoor_location">
<br/>
	<div class="canvas-navigation">
		<button id="btnZoomIn">ZoomIn</button> 
		<button id="btnZoomOut">ZoomOut</button> 
		<button id="btnResetZoom">Reset Zoom</button>
	    <button id="btnShow">Toggle Show/Hide</button>
	</div>

	<div class="canvas-wrapper">
		<canvas id="floorDemoCanvas"></canvas>
	</div>

	<button id="download_canvas">Download Canvas Image</button>

	{{#if reportingMode}}
		<br/>
		<h3>Legend for the Indoor Map of Floor {{activeFloor}} of {{currentProject}}</h3>

		<ul>
		{{#each signs}}

			<li>{{pinIndex}} - {{type}}_{{floor}}_{{room}} at [{{geoPoint.left}},{{geoPoint.top}}]</li>

		{{/each}}
		</ul>

	{{/if}}

</template>